.outside {
    background-color: lightgrey;
    width:500px;
    height:500px;
    padding: 50px;
    margin: 20px;
}

image{
    filter: blur(600px);
}

.blur{
    position:relative;
    filter: blur(5px);
}

.over {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  bottom:30em;
  width: 1000px
    
}